<h1>Job Vacancies</h1>
<h4>Find your next role here:</h4>

<table class="table-responsive-lg table-bordered">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Role</th>
      <th scope="col">School</th>
      <th scope="col">Salary</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @vacancies.each do |vacancy|  %>
      <th scope="row"></th>

        <td><%= link_to vacancy.title, vacancy_path(vacancy) %></td>
        <td><%= vacancy.school %></td>
        <td><%= vacancy.salary %></td>
        <td><%= vacancy.description %></td>

    </tr>
    <% end %>
  </tbody>
</table>


 <p><%= link_to "Create new vacancy", new_vacancy_path %></p>
