<!-- Vacancy Detail Page -->

<div class="show-page-container">
  <div class="text-button-container d-flex justify-content-between">
    <h2>Further Details</h2>
    <div class="homepage-button">
      <%= link_to "Back to homepage", root_path, class: "btn btn-info" %>
    </div>
  </div>

  <h5 id="float-text">Find further details about the role you selected here:</h5>

  <div class="show-card">
    <h5><strong>Open Role:</strong></h5>
    <h5><strong>Title:</strong> <%= @vacancy.title %></h5>
    <h5><strong>School:</strong> <%= @vacancy.school %></h5>
    <h5><strong>Salary:</strong> £<%= @vacancy.salary %></h5>
    <h5><strong>Role Description:</strong> <%= @vacancy.description %></h5>
  </div>
</div>



